.div-style{
    margin-top : 4rem;
    padding : 3rem;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem 0px;
}
body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.main-label{
    margin: 1rem;
}

nav {
    width: 100%;
    position: sticky !important;
    top: 0;
  }
  
  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-nav {
    margin-right: 4%;
  }
  
  @media only screen and (max-width: 991px) {
    .navbar-collapse {
      justify-content: flex-start;
    }
  
    .navbar-nav {
      margin-left: 4%;
    }
  }
  
  .navbar-brand {
    margin-left: 4%;
  }